<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="Вход">
		<setting label="Аккаунт smotret-anime.online" type="lsep"/>
		<setting id="sa-login" type="text" label="E-Mail"/>
		<setting id="sa-paswd" type="text" label="Пароль"/>
	</category>

	<category label="Локализация">
		<setting id="local-type" type="select" label="Тип" values="Subtitles|Voice" default="Voice"/>
	</category>
</settings>